:host {
  display: grid;

  // prettier-ignore
  grid:
    ' header  header header  '
    ' list    player filters ' /
      1fr     2fr    1fr
    ;
}

header {
  grid-area: header;
}

ns-video-list {
  grid-area: list;
}

ns-video-player {
  grid-area: player;
}

ns-stat-filters {
  grid-area: filters;
}
