/* You can add global styles to this file, and also import other style files */

@use '@picocss/pico/scss/pico';

ns-about,
ns-help,
ns-dashboard,
ns-video-list,
ns-video-player {
  outline: 3px solid green;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
}
